@import url('reset.css');
@import url('normalize.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://webfontbox.github.io/Arita/font.min.css');


/*
font-family: 'Pretendard-Regular'; font-weight: 400,500,600;
font-family: 'Arita'; font-weight: 300,400,500,600,700;
font-family: 'Arita buri'; font-weight: 400,500,600;
*/

/*
  VARIABLES
*/
:root{
  --primary: #062C5E;
  --secondary: #7CA7DE;
  --black: #161616;
  --dark-gray: #666666;
  --medium-gray: #868686;
  --light-gray: #C7C7C7;
  --bg-gray: ##F5F5F5;
  --white: #FFFFFF;
  --font:1rem;
  --lh:1.625;
}

/*
  TYPOGRAPHY
*/
body{
  line-height: var(--lh);
}
.sec_title_lg{
  font-size: 2.625rem;
  font-weight: 600;
}
.sec_title_sm{
  font-size: 1.625rem ;
  font-weight: 600;
}
.sec_desc_md{
  font-size: 1.5rem;
  font-weight: 400;
}
.con_title_lg{
  font-size: 2.5rem;
  font-weight: 500;
}
.con_title_sm{
  font-size: 1.875rem;
  font-weight: 500;
}
.con_desc_md{
  font-family: 'Pretendard-Regular';
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 768px){
  .sec_title_lg{
    font-size: 2.25rem;
  }
  .sec_desc_md{
    font-size: 1.125rem;
  }
  .con_title_lg{
    font-size: 2rem;
  }
  .con_title_sm{
    font-size: 1.75rem;
  }
}
@media (max-width: 360px){
  .sec_title_lg{
    font-size: 1.75rem;
  }
  .sec_desc_md{
    font-size: 1rem;
  }
  .con_title_lg{
    font-size: 1.25rem;
  }
  .con_title_sm{
    font-size: 1.125rem;
  }
}
>>>>>>> e55721d54a2760e0fb8e563a8ee956f708d195f6
