/* HEADER */
header {
  background: var(--primary);
  * {color: var(--white);}
}
.header {padding-top: 10px; position: relative;
  .logo {padding: 20px; position: absolute; left: 50%; transform: translateX(-50%)}
  .content_wrapper {display: flex; justify-content: space-between; align-items: center; padding: 16px 0;}
}
.header .content {display: flex;
  a {padding: 0 5px;}
  a svg {width: 18px; fill: var(--white); padding: 0 5px; vertical-align: sub;}
}
.header .content .sns_wrapper > a {font-size: 18px; padding: 0 5px;}
.header .content .sns_wrapper:after {
  content: '';
  display: inline-block;
  background: var(--light-gray); 
  width: 1px;
  height: 15px;
}
.language_area {background: none; border: none;
  .bi-globe2 {margin: 0 5px;}
  .bi-chevron-down {font-size: 14px; margin-left: 5px;}
}
.gnb {display: flex; justify-content: center;
  > li a {font-family: 'Arita buri'; font-weight: 600; font-size: 1.25rem;}
}
.gnb .gnb-item {display: flex; position: relative;
  > a {padding: 18px 20px; transition: 0.3s;}
  .lnb {display: none; background: var(--white); position: absolute;
  * {color: var(--medium-gray);}}
}
.gnb .gnb-item:hover .lnb {display: none;}
.gnb .gnb-item:hover a {color: var(--secondary);}

/* MAIN BANNER */
.main_banner{
  position: relative;
  width: 100%;
  height: 100vh;
}
.main_banner .video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.main_banner .video video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* BRANDS */
.brands{
  padding: 143px 0 88px 0;
}
.brands h2{
  margin-bottom: 50px;
}
.brands .button{
  width: 312px;
  position: relative;
  margin-left: 24px;
}
.button .tt_li{
  width: 252px;
  height: 45px;
  overflow: hidden;
  margin-left: 30px;
}
section .button ul{
  display: flex;
  width: 441px;
  gap:30px;
  flex-wrap: wrap;
  color: var(--light-gray);
}
section .button ul li{
  cursor: pointer;
}
section .button ul li:hover{
  color: var(--black);
  font-weight: 500;
}
.button a{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
section .button .next{
  right: 100%;
}
section .button .prev{
  left: 100%;
}
.brands_wrapper{
  overflow: hidden;
}
.brands_wrapper ul{
  display: flex;
  width: 3360px;
  padding-top: 50px;
}
.brands_wrapper ul li{
  width: 336px;
}
.brands_wrapper ul li img{
  padding: 0 80px 0 80px; 
}
.brands_wrapper ul p{
  text-align: center;
  margin-top: 68px;
  color: var(--light-gray);
}
.brands_wrapper ul p:hover{
  color: var(--black);
}


/* EMPLOY */
.employ .employ_wrapper{
  background: 
  url(../images/employ_bg.jpg)no-repeat;
  height: 320px;
  border-radius: 25px;
  position: relative;
}
.employ .employ_wrapper:after{
  content: '';
  display: block;
  background: linear-gradient(to left, rgba(6,44,94,0) 0%, #062C5E 80%, #062C5E 100%);
  width: 1200px;
  height: 320px;
  border-radius: 25px;
}

.employ_wrapper img{
  position: absolute;
  top: 83px;
  left: 70px;
}

.employ_wrapper p,
.employ_wrapper a
{
  position: absolute;
  color:var(--white);
  z-index: 10;
}

.employ_wrapper p{
  top: 161px;
  left: 70px;
  font-size: 2.188rem;
}

.employ_wrapper a{
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 1.563rem;
}