/* HEADER */
header {
  background: var(--primary);
  * {color: var(--white);}
}
.header {display: flex; justify-content: space-between; padding-top: 10px;
  .logo {padding: 20px;}
  .language_area {
    
  }
}
.header .content svg {width: 20px; fill: var(--white);}
.language_area {background: none; border: none;}
nav .gnb {display: flex; justify-content: center;
  > li a {font-family: 'Arita buri'; font-weight: 600; font-size: 20px;}
  .gnb-item {display: flex;
    > a {padding: 18px 20px;}
  }
}
nav .lnb {display: none;}

/* BRANDS */
.brands{
  padding: 143px 0 88px 0;
}

.brands h2{
  margin-bottom: 50px;
}

section .button{
  position: relative;
  width: 338px;
}

section .button ul{
  display: flex;
  gap: 30px;
  color: var(--light-gray);
}

section .button ul li{
  cursor: pointer;
}

section .button ul li:hover{
  color: var(--black);
  font-weight: 500;
}

section .button a{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

section .button .next{
  right: 100%;
}

section .button .prev{
  left: 100%;
}

.brands_wrapper{
  overflow: hidden;
}

.brands_wrapper ul{
  display: flex;
  padding-top: 50px;
  gap: 78px;
  margin: 0 66px;
}

.brands_wrapper ul:after li{
  content: '';
  width: 10px;
  height: 250px;
  color: var(--light-gray);
}

.brands_wrapper ul p{
  text-align: center;
  margin-top: 68px;
  color: var(--light-gray);
  font-weight: 500;
}

.brands_wrapper ul p:hover{
  color: var(--black);
}