.sub_pd_y{
    padding-top: 120px;
    padding-bottom: 280px;
}

/* 서브페이지 상단 텍스트 속성 */
.sub_top_desc{
    text-align: center;
}
.sub_top_hd2{
    font-family: 'Arita buri';
    margin-bottom: 24px;
    font-size: 1.75rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
}
.sub_top_hd2::before, .sub_top_hd2::after{
    content: '';
    display: inline-block;
    width: 110px;
    height: 1px;
    background: var(--black);
    position: absolute;
    top: 50%;
}
.sub_top_hd2::before{
    right: calc(100% + 36px);
}
.sub_top_hd2::after{
    left: calc(100% + 36px);
}
.sub_top_hd3{
    font-family: 'Arita buri';
    font-size: 3.75rem;
    font-weight: 700;
}
.sub_top_desc{
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    font-size: 1.25rem;
}

/* 서브페이지 상단 이미지 속성*/
.sub_top_bg {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: .3s ease;
}

.subtopbg_warp {
    position: relative;
    width: 100%;
    padding-bottom: 21.4%; /* 이미지 비율에 맞게 설정 (세로 282px / 가로 1320px * 100) */
    height: 0;
}

.subtopbg_warp img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: .25s ease;
}
.sub_top_bg.on{
    max-width: 100%;
    img{
        border-radius: 0;
    }
} 


.sub_contents{
    padding-top: 100px;
}