.esg{
    font-size: 1.125rem;
    .sub_top_hd3{
        font-family: 'Arita';
        font-size: 54px;
    }
    .sub_contents{
        padding-top: 100px;
    }
    [class*='sub_con_tit_']{
        font-weight: 700;
    }
    .sub_con_tit_lg{
        font-size: 2.75rem;
    }
    .sub_con_tit_md{
        font-size: 2.125rem;
    }
    .sub_con_tit_sm{
        font-size: 1.25rem;
    }
    .con_decs{
        font-family: 'Pretendard', sans-serif;
        color: var(--dark-gray);
    }
    

    .sub_con_card{
        margin-top: 74px;
        margin-bottom: 110px;
        gap: 24px;
        justify-content: center;
        li{
            /* background: var(--bg-gray); */
            background: brown;
            border-radius: 20px;
            padding: 50px 64px;
        }
        span{
            color: var(--secondary);
            font-family: 'Arita buri'
        }
        p{ 
            font-weight: 600;
            max-width: 28.75rem;
        }
    }
    .commits_vd{
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
    }
    .commits_vd iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0; top: 0;
        border-radius: 20px;
    }
}